# Rust / Cargo
/target/
**/*.rs.bk
*.pdb

# Logs and Data
*.log
*.txt
*.evtx

# Editors & IDEs
.vscode/
.idea/
*.swp
*.iml

# OS
Thumbs.db
Desktop.ini
temp*.rs
*.bak
*.bak2
*.bak3

#perso
.agent/
.antigravityignore
