name: OSV-Scanner

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  schedule:
    - cron: '30 12 * * 1'
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  check-security:
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.3.3
