name: Rust Windows CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: read

jobs:
  lint:
    name: Linting (Clippy)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust (nightly)
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: nightly
          components: clippy

      - name: Run Clippy
        run: cargo clippy -- -D warnings

  build:
    name: Build Release
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust (nightly)
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: nightly

      - name: Cache Cargo registry
        uses: actions/cache@v5
        with:
          path: |
            C:\Users\runneradmin\.cargo\registry
            C:\Users\runneradmin\.cargo\git
          key: cargo-registry-${{ hashFiles('**/Cargo.lock') }}

      - name: Build Release
        run: cargo clean && cargo build --release

  security_audit:
    name: Security Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Security Audit
        uses: actions-rust-lang/audit@v1
