name: GitHub Actions Security Analysis (Zizmor)

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  zizmor:
    name: Zizmor
    runs-on: windows-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Zizmor
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri https://github.com/woodruffw/zizmor/releases/latest/download/zizmor-x86_64-pc-windows-msvc.zip -OutFile zizmor.zip
          Expand-Archive -Path zizmor.zip -DestinationPath .
          Move-Item zizmor.exe C:\Windows\System32\zizmor.exe -Force

      - name: Run Zizmor
        shell: pwsh
        run: zizmor . --format sarif | Out-File -FilePath zizmor.sarif -Encoding utf8
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: zizmor.sarif
          category: zizmor
